@import "variables";

* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
    font-weight: 500;
}

h3 {
    font-weight: 500;
    font-size: 18px;
}

a {
    cursor: pointer;
}


.post_card {
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    @include shadow;


    &.big {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1300px;
        border-radius: 10px;
        overflow: auto;

        .img_wrap {
            position: relative;

            img {
                width: 100%;
                height: 300px;
                object-fit: cover;
            }

            h2 {
                position: absolute;
                bottom: 0;
                left: 0;
                color: white;
                padding: 10px 20px;
            }
        }

        .desc {
            background: white;
            padding: 10px;
        }
    }

    &.small {

        .img_wrap {
            position: relative;
            img {
                width: 100%;
                height: 150px;
                object-fit: cover;
            }

            span {
                position: absolute;
                right: 10px;
                top: 10px;
                padding: 0 10px;
                border: 1px white solid;
                color: white;
                border-radius: 5px;
            }
        }


        .text_wrap {
            padding: 10px;
            background: white;
            height: 100%;
            .desc {

            }
        }


    }
}
