@import "variables";

@import "theme";

.page_main_wrap {
    .welcome_wrap {
        @include flexContainer(row, 20px, flex-start);
        margin-bottom: 50px;

        .news_list_wrap {
            @include flexContainer(column, 10px, flex-start);
            @include shadow;
            padding: 10px;
            width: 25%;
            min-width: 25%;
            border-radius: 10px;
        }
    }
}

.page_work_wrap {
    article {
        max-width: 800px;

        img {
            width: 100%;
        }
    }
}


